
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=IBM+Plex+Sans&family=Nunito+Sans&family=Outfit:wght@500&family=Prompt&family=Raleway:wght@400;500&family=Roboto:wght@300&family=Source+Sans+3&family=Syncopate:wght@700&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Dancing+Script:wght@700&family=IBM+Plex+Sans&family=Nunito+Sans&family=Outfit:wght@500&family=Prompt&family=Raleway:wght@400;500&family=Roboto:wght@300&family=Source+Sans+3&family=Syncopate:wght@700&display=swap');

/* font-family: 'Comic Neue', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Dancing+Script:wght@700&family=IBM+Plex+Sans&family=Montserrat:wght@300&family=Nunito+Sans&family=Outfit:wght@500&family=Prompt&family=Raleway:wght@400;500&family=Roboto:wght@300&family=Source+Sans+3&family=Syncopate:wght@700&display=swap');
/* font-family: 'Montserrat', sans-serif; */


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

#sec1{
 background:url("./images/landing.png");   
 height:750px;
 width:100%;
 background-size: cover;
 background-repeat: no-repeat;
 position:relative;
}

#sec1 .cloud1{
top:100px;
left:350px;
}

#sec1 .cloud2{
 top:230px;
 left:760px;
 z-index:1;  
}

#sec1 .text{
    top:150px;
    right:300px;
    z-index:10;
}

#sec1 .text .text1{
font-size:72.86px;
font: weight 700px;color:#fff;
line-height:58.29px;
font-family: 'Comic Neue', cursive; 
text-align: center;

}

#sec1 .text .text2{
    font-size:170px; 
    font: weight 700px;color:#fff;
    line-height:136px;
    font-family: 'Comic Neue', cursive; 
    text-align: bolder;
}

#sec1 .topstrip{
    width:80%;
    height:20px;
    border-radius: 0px 0px 20px 20px;
    top:0;
    left:50%;
    background-color:#fff;
    transform: translateX(-50%);
}

#sec1 form{
    width:300.73px;
    height:450px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    background-color:#fff;
    padding:29.27px 22.68px;
    border-radius: 7.32px;
    position:absolute;
    right:300px;
    top:450px;
}

#sec1 form label{
    font-size:16.83px;
    font-weight:500;
    color:#000;
    margin-top:15px;
}

#sec1 form input{
    height:30px;
    width:100%;
    background-color:rgba(0, 0, 0, 0.1);
    border-style: none;
    outline:none;
    font-size:16.83px;
    font-weight:500;
    color:#000;
}

#sec1 form select{
    height:30px;
    width:100%;
    background-color:rgba(0, 0, 0, 0.1);
    border-style: none;
    outline:none;
    font-size:16.83px;
    font-weight:500;
    color:#000;
}

#sec1 form .buttonbox{
    width:100%;
}

#sec1 form .submitbtn{
    width: 100.98px;
height: 30px;
background: #3AB6BA;
border-radius: 5.85366px;
color:#fff;
float:right;
margin-top:22.68px;
}

#sec1 .line{
    position:absolute;
    right: 70px;;
    top:470px;

}

.sublanding{
    height:290px;
    background-color:#3AB6BA;
}

.sublanding img{
    margin-top:29px;
}

#sec2 .left .text{
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    font-size:20px;
    line-height:23.44px
}

#sec2 .textbox{
border-radius:20px;
padding:15px;
min-height:156px;
width:90%;
}

#sec2 .left .textbox{
background-color:#2074B8;
margin-top:40px!important;
margin-left:0!important;
}

#sec2 .textbox p{
font-weight:500px;
color:#fff;
font-size:20px;
}

#sec2 .textbox h2{
    font-size:40px;
    font-weight:600;
    line-height: 48.76px;
    color:#fff;
}

#sec2 .right .textbox{
background-color:#F38039;
}

#sec2 .right img{
    width:90%;
}

/* ...Sec-3 Start...................... */

#sec3{
    position:relative;
    padding-top:50px;
}

#sec3 .title{
    font-family: 'Comic Neue', cursive;
    font-size:40px;
    font-weight:700;
    line-height:32px;
    line-height: 32px;
    text-align: center;
    color:#2074B8;
}

#sec3 .midimg{
    width:40%;
    margin-left:50%;
    transform: translateX(-50%);
    margin-top:50px;
    z-index: 1;
}

#sec3 .lineimg{
    position:absolute;
    left:0;
  bottom:80px;
    width:100%;
    z-index: -1;
    padding:16px 0 19px 25px;
}

.square{
    height:673px;
    width:80%;
    border:1px solid #E93B49;

    display: flex;
    justify-content: center;
    align-items: center;
}

.square .maintext{
    font-family: 'Comic Neue', cursive;
    font-weight:700;
    color:#2074B8;
    font-size:70px;
    line-height: 56px;
    
}
.square .maintext span{
    font-size:40px;
    line-height: 77px;
}

.square .left .line{
    height:100px;
    width:425px; 
    border-radius: 0 20px 20px 0;
    padding:20px;   
}
.square .right .line{
    height:100px;
    width:425px; 
    border-radius:20px 0 0 20px;
    padding:20px; 

}
.square .line .text .title{
    font-family: 'Comic Neue', cursive; 
    font-weight:700;
    font-size:39.57px;
    color:#fff;
    line-height:43.52px;
}

.square .line .text .subtitle{
    font-family: 'Comic Neue', cursive; 
    font-weight:700;
    font-size:22.61px;
    color:#fff;
    line-height:24.87px;
}
.square .left{
    position:absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
   
}

.square .right{
    position:absolute;
    top:50%;
    right:0;
    transform: translateY(-50%);
}

.square .line1{
    background-color:#D19437;
}

.square .line2{
    background-color:#4C6B87;
    margin-top:30px;
}

.square .line3{
    background-color:#A5BB5B;
    margin-top:30px;
}

.square .line4{
    background-color:#CC4639;
    margin-top:30px;
}

.square .line5{
    background-color:#A87DA7;
}

.square .line6{
    background-color:#54B7C6;
    margin-top:30px;
}

.square .line7{
    background-color:#BE4788;
    margin-top:30px;
}

.square .line8{
    background-color:#EFBD58;
    margin-top:30px;
}

.square .bottomtext{
    position:absolute;
    bottom:0px;
    left:50%;
    transform:translate(-50%,50%);
    background-color:#E93B49;
    padding:18px 90px;
    border-radius: 20px;
    color:#fff;
}

.square .bottomtext p{
font-family: 'Comic Neue', cursive;
font-weight:700;
font-size:26.48px;
line-height:21.19px;
text-align: center;
}



#sec4{
    position:relative;
}

#sec4 .topline1{
    font-family: 'Comic Neue', cursive;
    font-size:25px;
    color:#2074B8;
    text-align:center;
    margin:50px auto 0;
    
}

#sec4 .topline2{
    font-family: 'Comic Neue', cursive;
    color:#E93B49;
    font-weight:700;
    font-size:40px;
    text-align:center;
}

#sec4 .text{
    font-family: 'Comic Neue', cursive;
    font-size:15px;
    text-align:center;
    font-weight:700;
    color:#000;
}

.sec4img{
    overflow-x:hidden;
   
}

.sec4img img{
    width:110%;

}

#sec4 .cl1{
    top:100px;
    left:166px;
    position:absolute;
}

#sec4 .cl2{
    position:absolute;
    top:50px;
    right:450px;
}

#sec4 .cl3{
    top:100px;
right:166px;
    position:absolute;
}

/* .....Sec-5 Start................ */

#sec5 .first{
font-size:50px;
font-family: 'Comic Neue', cursive;
font-weight:700;
color:#2074B8;
line-height: 55px;
}
#sec5 .second{
    font-size:70px;
    font-family: 'Comic Neue', cursive;
    font-weight:700;
    color:#E93B49;
    line-height: 77px;
}
#sec5 .third{
    font-size:70px;
    font-family: 'Comic Neue', cursive;
    font-weight:700;
    color:#E93B49;
    line-height: 77px;
}

#sec5 .bookbtn{
    font-family: 'Comic Neue', cursive;
    height:58px;
    width:372px;
    border-radius: 20px;
    background-color:#E93B49;
    font-size:26.48px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec5 .right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#sec5 .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sec5 .triangle{
    position:absolute;
    bottom:0px;
    left:0;
    width:100%;
    z-index: -1;
}

#sec6{
    position:relative;
    background-color:#376EB3;
    min-height:680px;
    padding-bottom:0;    
}

#sec6 .left .title{
    font-family: 'Comic Neue', cursive;
    font-size:70px;
    line-height:77px;
    font-weight:700;
    color:#fff;
}

#sec6 .left .address{
text-align: left;
color:#fff;
font-size:25px;
line-height: 27.5px;
font-family: 'Comic Neue', cursive;
}

#sec6 .left .uline1{
    height:1px;
    background-color: #fff;
    width:100%;
}

#sec6 .left .contact{
    text-align: left;
color:#fff;
font-size:70px;
line-height: 70px;
font-family: 'Comic Neue', cursive;
margin-top:70px;
}

#sec6 .right{
    margin-top:50px;
}


#sec6 .uline2{
height:1px;
background-color:#fff;
width:100%;
margin-top:100px;
}

#sec6 .rights p{
    text-align: center;
    font-weight:400;
    font-size:20px;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    margin:17px auto;
}

#sec6 .bottom{
position:relative;
height:20px;
width:100%;
}

#sec6 .bottom .stript{
position:absolute;
bottom:0;
left:50%;
transform: translate(-50%);
width:100%;
height:20px;
border-radius: 20px 20px 0 0;
background-color:#fff;
}


@media only screen and (max-width:1600px){
    #sec1 .text{
        right:200px;
    }

    #sec1 .cloud2{
        left:600px;
    }
}

@media only screen and (max-width:1350px){
    
    #sec1 .text{
        right:100px;
    }
    #sec1 form{
        right:100px;
    }

}

@media only screen and (max-width:1240px){
 
    .square{
height:1500px;
width:100%!important;
    }

    .square .right{
        width:70%!important;
        right:50%;
        top:900px!important;
        transform: translateX(50%);
    }
    .square .right .line{
        border-radius: 20px;
        width:100%!important;
        justify-content: space-between;
    }
    .square .left{
        top:100px;
        left:50%;
        transform: translateX(-50%);
        width:70%!important;
    }

    .square .left .line{
        border-radius: 20px;
        width:95%!important;
    }  
    
    #sec4 .cl2{
        display: none;
    }
    #sec4 .cl1{
        left:50px;
    }
    #sec4 .cl3{
        right:50px;
    }
}

@media only screen and (max-width:630px){
    .square .right{
        width:80%!important;
    }

    .square .left{
        width:80%!important;
    }
}

@media only screen and (max-width:1000px){

    .sublanding img{
        width:100%;
    }
    #sec1 .text .text1{
        font-size:40px;
        line-height:40px;
    }

    #sec1 .text .text2{
        font-size:100px;
        line-height:40px;
    }
    #sec1 form{
        top:300px;
        right:50%;
        transform: translateX(50%);
    }
    #sec1 .line{
        display: none;
    }
    #sec1 .cloud2{
        display: none;
    }

    #sec4 .cl1{
        left:50px;
    }

    #sec4 .cl3{
        right:50px;
    }
}

@media only screen and (max-width:991px){
    #sec5 .top .left img{
        margin:50px auto!important;
    }
}

@media only screen and (max-width:768px){
    #sec5 .right .first{
        font-size:30px;
        line-height: 30px;
    }

    #sec5 .right .second{
        font-size:50px;
        line-height: 40px;
    }

    #sec5 .right .third{
        font-size:50px;
        line-height: 40px;
    }
}

@media only screen and (max-width:463px){
    #sec5 .right .first{
        font-size:20px;
        line-height: 20px;
    }

    #sec5 .right .second{
        font-size:30px;
        line-height: 30px;
    }

    #sec5 .right .third{
        font-size:30px;
        line-height: 30px;
    }

    #sec5 .bookbtn{
        width:95%!important;
    }
    #sec5 .top .left img{
       width:70%!important;
    }
}

@media only screen and (max-width:900px){
    #sec4 .cl1{
        top:50px!important;
        left:50px;
    }
    #sec4 .cl3{
        top:50px!important;
        right:50px;
    }
}

@media only screen and (max-width:800px){
    #sec6 .left .contact{
        font-size:40px;
        margin-top:30px;
    }
    #sec6 .left .address{
        font-size:25px;
    }
    #sec6 .left .title{
        font-size:50px;
    }

    #sec6 .right .layer .barcode{
        width:40%!important;
    }
}

@media only screen and (max-width:700px){

    .square{
        height:1400px;
    }
    .square .bottomtext{
        width:70%;
        padding:15px 20px!important;
    }

    .square .right{
        top:800px!important
    }
    
    .square .left .line{
        width:100%!important;
    } 

    .square .right .line{
        width:100%!important;
    }

    .square .line .title{
        font-size:25px!important;
    }

    .square .line .subtitle{
        font-size:20px!important;
        margin-top: 30px;
    }
    .square .maintext{
        font-size:40px;
        line-height:40px!important;
        
    }

    .square .maintext span{
        font-size:30px;
        line-height:30px!important;
    }
}


@media only screen and (max-width:500px){
    #sec1 .cloud1{
        display: none;
    }
    
    #sec1 .text{
        right:50%;
        transform: translateX(50%);
    }
    .sublanding{
        height:200px;
    }
}

@media only screen and (max-width:450px){
    #sec4 .cl1{
      display:none;  
    }
    #sec4 .cl3{
      display:none; 
    }
    #sec6 .left .contact{
        font-size:25px;
        margin-top:15px;
    }
    #sec6 .right{
        margin-top:0px!important;
    }
}

@media only screen and (max-width:450px){
    .sublanding{
        height:150px;
    }
}

@media only screen and (max-width:1100px){
    #sec6 .right .layer .barcode{
        width:50%!important;
    }
}